//@import './src/scss/main.scss';
@import './src/scss_v2/helpers/_variables.scss';
@import './src/scss_v2/helpers/_mixins.scss';

/* stylelint-disable no-descending-specificity  */

:global(.bgImg:not(.gutter)) {
  .search-form {
    &.active {
      // left: calc(50% + 90px);
      width: 100vw;
    }

    &:not(.active) {
      :global(.contentwrapper) {
        left: 0 !important;
      }
    }
  }

  :global(.layout_type_2) {
    .search-form {
      &.active {
        left: calc(50% + 90px);
      }
    }
  }
}

.search-form {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  //@include transition(all .5s);
  // :global{
  //   .contentwrapper{
  //     padding:0px;
  //   }
  // }

  &.active {
    background: rgba($black, 0.9);
    z-index: 1000;
    overflow: visible;
    top: -33px;
    height: 73px;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);

    &.sticky {
      top: 0px;
    }

    .search-btn {
      background: none;
      position: absolute;
      right: 35px;
      top: 18px;

      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        background: #fff;
        top: 15px;
        left: 5px;
      }

      &:before {
        @include transform(rotate(45deg));
      }

      &:after {
        @include transform(rotate(-45deg));
      }
    }

    .inner {
      height: 55px;
      overflow: visible;
    }
  }

  .hideSearchBox {
    display: none;
  }

  .search-btn {
    display: inline-block;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 36px;
    top: 0;
    z-index: 500;
    //@include transition(top .5s);
    @include us-home-sprite(-34px -60px);

    @include tablet {
      margin-right: 12px;
    }
  }

  .inner {
    position: relative;
    width: 70%;
    margin: 0 auto;
    top: 16px;
    height: 0;
    overflow: hidden;
    //@include transition(all .5s);
  }

  input[type='text'] {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    background: #fff;
    padding: 0 28px;
    border: 0;
    margin-right: 10px;
    text-transform: capitalize;
    box-shadow: 0 0 3px #eaeaea inset;
    @include border-radius(2px 2px 0 0);

    // &:focus {
    //   box-shadow: 0 0 3px #006acc;
    //   border: 1px solid #0064c0;
    // }
  }

  input[type='submit'] {
    background: $new-rust-color-theme;
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    @include border-radius(2px);
  }

  input[type='text'],
  input[type='submit'] {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
  }

  ::placeholder,
  input::placeholder {
    color: inherit;
  }

  .close-btn {
    background: none;
    border: 0;
    font-size: 40px;
    color: $text-white;
    position: absolute;
    right: 10px;
    top: 5px;
    @include transform(rotate(45deg));
  }

  form {
    position: relative;
    display: flex;

    &:before {
      content: '';
      width: 5px;
      height: 5px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      position: absolute;
      border-radius: 50%;
      top: 18px;
      left: 11px;
    }
  }

  &.snowwhite {
    .search-btn {
      filter: invert(1);
      -webkit-filter: invert(1);
      -moz-filter: invert(1);
      top: 1px;
    }

    &.active {
      background: rgba(255, 255, 255, 0.9);
      height: 164px;
      top: -118px;
      padding-top: 37px;
      border-top: 1px solid #ebebeb;

      .search-btn {
        top: 16px;
      }

      input[type='text'] {
        border: 1px solid #ececec;
        box-shadow: none;
        background: #f6f6f6;
        @include border-radius(4px);
      }

      &.sticky {
        top: -11px;
        background: #fff;
        height: 67px;
        padding-top: 0px;
        border-bottom: 2px solid #000;
      }
    }
  }
}

.nav_autosuggest_result {
  position: relative;
  z-index: 1000;
  top: 0;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  width: calc(100% - 134px);
  @include border-radius(0 0 4px 4px);

  &:empty {
    display: none;
  }

  li {
    list-style: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin: 0 0 0 27px;

    &:last-of-type {
      border: none;
    }

    a {
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
      padding: 15px 0;
      display: block;
      text-transform: capitalize;
      color: #000;
      position: relative;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: absolute;
        border-radius: 50%;
        top: 21px;
        left: -16px;
      }

      &:after {
        content: '';
        background: url(https://static.toiimg.com/photo/70853564.cms);
        width: 10px;
        height: 10px;
        position: absolute;
        right: 20px;
        top: 17px;
        background-position: -15px -1280px;
        opacity: 0.3;
      }
    }
  }
}

.resultSearchString {
  font-weight: 400;
}

:global(body.bgImg) {
  .search-form {
    &.active {
      width: 100%;
    }
  }
}
